@font-face {
  font-family: "Autobots";
  src: url("../fonts/Autobots.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  background-color: #141518;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "roboto";
}

main {
  flex: 1 0 auto;
}

.header {
  font-family: "Autobots";
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(0, 217, 255), #2b2d33);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sat-name {
  font-family: "Autobots";
  font-size: 40px;
  color: #141518;
  text-shadow: 0px 0px 3px rgb(0, 217, 255);
}


.path {
  animation: draw 20s infinite;
  animation-timing-function: linear;
}
.path-01 {
  animation-delay: 0s;
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}
